.c-blue{
    color: #2A64A7;
}

.c-red{
    color: red;
}

.uinn-na{
    padding:1.25em 0 0.75em 0.83em;
}

.bc-white{
    background-color: white;
}

.c-orange{
    color: #EF6413;
}

.bc-footer{
    background-color: #CCCCCC;
}

.font-bolder{
    font-weight:bolder;
}

.umar-a2{
    margin: 0.2em;
}

