<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget appId="aaaot10026" channelCode="0000" height="480" pid="" sreensize="4.5" version="00.00.0001" viewmode="application" widgetId="" width="320">
    <name>巡线卫士</name>
    <description/>
    <author email=""/>
    <icon src="icon.png"/>
    <license href=""/>
    <content encoding="utf-8" src="route.html"/>
    <updateurl/>
    <logserverip/>
    <showmyspace>false</showmyspace>
    <obfuscation>true</obfuscation>
    <bgcolor>#fefefe</bgcolor>
    <orientation>1</orientation>
    <error src=""/>
    <removeloading/>
    <debug/>
    <partobfuscation/>
    <webapp>false</webapp>
    <config desc="uexBaiduMap" type="KEY">
        <param name="$uexBaiduMap_APIKey$" platform="Android" value="Io4VlTQfLcEsjD4WD4C3inyczH4jdFCe"/>
    </config>
    <config desc="uexQQ" type="KEY">
        <param name="$UEXQQ_APPID$" platform="Android" value="tencent1105846652"/>
    </config>
</widget>
