/*footer*/
.event_btn{
    padding: .4em .625em;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-top: 1px;
}
.event_btn span{
    display: inline-block;
    /*padding: .4em 1.5em;*/
    border-radius: .25em;
    color: #FFFFFF;
    margin: 0 1em;
    width: 5.625em;
    height: 2.1875em;
    line-height: 2.1875em;
    font-size: .9375em;
}
.event_btn span.event_delete{
    background: #f9ae3e;
}
.event_btn span.event_report{
    background: #59b6fc;
}
.event_btn span.enter_news{
    width: 15.9375em;
    background: #59b5fc;
}
#event_check{
    display: none;
}
.for_check{
    background: url("../index/images/select.png") no-repeat;
    background-size: 1.25em 1.25em;
    line-height: 1.25em;
    padding-left: 1.8em;
    float: left;
}
.for_check.for_on_check{
    background: url("../index/images/selected.png") no-repeat;
    background-size: 1.25em 1.25em;
}


.event_nav{
    background: #ffffff;
}
.event_nav li{
    height: 3em;
    line-height: 3em;
}
.event_nav li.selected_A{
    color: #00A1EA;
    border-bottom: 1px solid #00A1EA;
}

.us_top{
    -webkit-box-shadow: 0 -.07em .2em #999;
    box-shadow: 0 -.07em .2em #999;
    margin-top: 5px;
}