<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">

    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/ui-box.css">
        <link rel="stylesheet" href="../../css/ui-base.css">
        <link rel="stylesheet" href="../../css/ui-color.css">
        <link rel="stylesheet" href="../../css/appcan.icon.css">
        <link rel="stylesheet" href="../../css/appcan.control.css">
        <link rel="stylesheet" href="css/keyPointList.css">

    </head>

    <body class="um-vp " ontouchstart>
        <div class="point_list ">
            <ul>
                <div class="clr999 ulev26 textc" v-if="allTaskArrs.length==0">
                    暂无数据
                </div>
                <li class="sectionMargin sectionShadow " v-for="item in allTaskArrs" :class="item.leaveCount==0?'passMask':''">
                    <div class="ub ubb  sc-border-cor">
                        <div class="name ub-f1 linh">
                            <div class="ulev26 clr333 ulim100 paddr15">
                                {{item.name}}<span class="clr999 ulev24">（{{item.code}}）</span>
                            </div>
                        </div>
                        <div class="ub ub-ac ">
                            <div class="ulev22   paddr15" style="color:red">
                                {{item.distance}}
                            </div>
                        </div>
                    </div>
                    <div class="ub  linh" >
                        <div class="ub-f1 clr666 ulev26 ulim100 paddr15">
                            {{item.location}}
                        </div>
                    </div>
                    <div class="ub  linh">
                        <div class="ub-f1 clr666 ulev26 clr333">
                            {{item.lastCheckTime}}
                        </div>
                        <!-- <div class="ub-f1 clr666 ulev26  paddr15">
                            已巡{{item.isCheckCount1}}次
                        </div> -->
                        <div class="clr666 ulev26  paddr15">
                          {{item.isCheckCount1}}/{{item.taskCount}}
                        </div>

                    </div>

                </li>
            </ul>
        </div>
        <script src="../../js/appcan.js"></script>
        <script src="../../js/appcan.control.js"></script>
        <script src="../../js/vue.min.js"></script>
        <script src="../../common/js/common_base.js"></script>
        <script src="../../common/js/common_device.js"></script>
        <script src="../../common/js/common_database.js"></script>
        <script src="../../common/js/common_map.js"></script>
        <script src="../../common/js/common_httprequest.js"></script>
        <script src="../../vue_component/header_common.component.vue.js"></script>
        <script src="../../vue_component/search.component.vue.js"></script>
        <script src="js/keyPointList.js"></script>

    </body>

</html>