.b-d8 {
    border-color: #d8d8d8;
}

.t-21 {
    color: #218dd5;
}

.uinnh5 {
    padding: 0 0.563em 0.9em 0.563em;
    margin: 0;
}

.uw-reg {
    min-width: 5.562em;
}

.uinn-at1 {
    padding-top: 0.5em;
}

.c-wh {
    background-color: #FFF;
}

.ulev-1 {
    text-align: -webkit-center;
    color: #dfdfdf;
}

span {
    width: 4.5em;
}

.cc {
    margin-left: 2.813em;
}

.ee {
    margin-left: 1.912em;
}

#showpwd {
    background: url("../images/eye.png") no-repeat center;
    background-size:1.8em;
    width: 2.25em;
    height: 2.25em;
}

#pwdinput {
    width: 90%;
}

.ubb {
    border-bottom: 1px solid #f4f4f4;
}
#reminder{
  color:#FC7800;  
}
