.bg {
    background: #fff;
}

.mar05 {
    margin: 0em .5em;
}

.umh70 {
    height: 1.92em;
    line-height: 1.92em;
}

.imgp {
    vertical-align: middle;
    margin-right: 0.55em;
    width: 0.7em;
    height: 0.83em;
}

.addressimg {
    background: url(../images/map_h.png) no-repeat 0em center;
    background-size: 0.7em 0.91em;
}

.ulr42 {
    margin-right: 0.5em;
}

.marl15 {
    margin-left: 1em;
}

.checkhid {
    display: none;
}

.textcolred {
    color: #e44047;
}


/*check美化样式*/

.checkbox,
.radiobox {
    width: 1.15em;
    height: 1.05em;
}

.checkbox input[type=checkbox],
.radiobox input[type=radio] {
    font-size: .7em !important;
}

.checkbox input[type=checkbox]:checked:before {
    font-size: 1.65em !important;
    content: "\f14a";
}

.checkbox input[type=checkbox]:checked:before,
.radiobox input[type=radio]:checked:before {
    color: #59b6fc;
}

.checkbox input[type=checkbox]:before,
.radiobox input[type=radio]:before {
    color: #59b6fc;
}

.checkbox input[disabled]:checked:before {
    color: #ececec;
}

.checkbox input[disabled]:before {
    color: #ececec;
}

.ulev18 {
    font-size: .5625em !important;
}

.ulev20 {
    font-size: .625em !important;
}

.ulev22 {
    font-size: .6875em !important;
}

.ulev24 {
    font-size: .75em !important;
}

.ulev26 {
    font-size: .8125em !important;
}

.ulev28 {
    font-size: .875em !important;
}

.ulev30 {
    font-size: .9375em !important;
}

.ulev32 {
    font-size: 1em !important;
}

.sectionShadow {
    box-shadow: 0 0 5px rgba(188, 188, 188, 0.4) !important;
}

.sectionMargin {
    margin-bottom: .625em;
}