.lh01 {
    line-height: 2.1875em;
}

.select_height {
    height: 2.4em;
}

.pb625 {
    padding-bottom: .625em;
}

.bt1 {
    border-top: 1px solid #ccc;
}

.bb1 {
    border-bottom: 1px solid #ccc;
}

.tran25 {
    transform: translateY(-.25em);
    -webkit-transform: translateY(-.25em);
}

.bgfff {
    background: white;
}

.add {
    background: url(../images/add.png) no-repeat center center;
    background-size: 1.4em;
}
.map{
  background: url(../images/map.png) no-repeat center center;
  background-size: 1.4em;  
}
.local {
    margin: 0 .9375em;
    width: 2.9em;
    text-align: center;
    color: white;
    border: 1px solid #9fd3fb;
    height: 1.65em;
    line-height: 1.65em;
}

.local div {
    position: absolute;
    height: 1.6em;
    line-height: 1.6em;
    font-size: .6em;
    padding: 0 .6em;
    background-color: #ff625b;
    border-radius: .8em;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
}

.select .text {
    padding: 0 .5em;
}

.width50 {
    width: 50%;
}

.posi_left {
    position: absolute;
    left: 0;
}

.posi_right {
    position: absolute;
    right: 0;
}



.footer {
    height: 3.06em;
    background-color: white;
    overflow: hidden;
}

.footer .wrapper {
    transition: all .3s;
}

.footer .btn_wrapp {
    height: 3.06em;
    padding: .5em;
    box-sizing: border-box;
}

.btn_width {
    width: 5.625em;
}

.btn_active {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.bg_or {
    background: #faae3e;
}

.mar05 {
    margin: 0 .5em;
}

.addressimg {
    background: url(../images/map_h.png) no-repeat 0em center;
    background-size: 0.7em 0.91em;
}

.ulr42 {
    margin-right: 0.5em;
}

.marl15 {
    margin-left: 1em;
}
.marl125 {
    margin-left: .125em;
}
/*check美化样式*/
.checkbox, .radiobox {
    width: 1.1em;
    height: 0.95em;
}
.checkbox input[type=checkbox], .radiobox input[type=radio] {
    font-size: .7em !important;
}
.checkbox input[type=checkbox]:checked:before {
    font-size: 1.65em !important;
    content: "\f14a";
}
.checkbox input[type=checkbox]:checked:before, .radiobox input[type=radio]:checked:before {
    color: #59b6fc;
}
.checkbox input[type=checkbox]:before, .radiobox input[type=radio]:before {
    color: #59b6fc;
}
.checkbox input[disabled]:checked:before {
    color: #ececec;
}

.checkbox input[disabled]:before {
    color: #ececec;
}

/*选择管网设施footer*/
#footer {
    box-shadow: 0 -.079em .225em #999;
    margin-top: .169em;
    background: white;
}

#footer .btn {
    margin: 0 .563em;
    min-height: 2.025em;
    padding: .225em 0;
    display: -webkit-box;
}

#btn1 {
    background: #59b5fc;
}