* {
    margin: 0em;
    padding: 0em;
}

.tb_bg {
    background: #f4f4f4;
}

.new_table, .gastable {
    background: #fff;
    margin-bottom: .625em;
}

.new_table:last-child {
    margin-bottom: .0em;
}

.ml5 {
    margin-left: .5em;
}

.input_table {
    padding: .5em;
}

.table_row {
    height: 2.2em;
    line-height: 2.2em;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.5em;
}

.row_left {
    width: 5em;
    color: #666;
}
.row_leftwidth {
    width: 4.375em;
    color: #666;
}
.rowSize {
    font-size: 0.8125em;
}
.row_right, .rightSize {
    font-size: 0.875em;
    color: #333;
}

.user_input {
    width: 99%;
    /*padding: .5em;*/
    outline: none;
    border: none;
}

.row_right input {
    background: #f4f4f4;
}

.rightSize {
    border: none;
}

.address_notes {
    margin-left: 5.5em;
    color: #fd3224;
    font-size: .75em;
    margin-bottom: 0.58em;
}

.ml27 {
    margin-right: 0.824em;
}

.photo {
    display: inline-block;
    vertical-align: middle;
    /*width: 2em;*/
    height: 2em;
    float: right;
    margin-left: 0em;
    margin-top: 0.5em;
}
.bleft {
    border-left: 1px solid #ececec;
}
.photo_list {
    background: #fff;
    margin: .5em;
}

.picList {
    width: 32.33%;
    display: inline-block;
}

.picListimg {
    width: 95%;
    height: 4.3em;
    margin-right: .5em;
}

textarea {
    background: #f4f4f4;
    border: none;
    outline: none;
    padding: .5em;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.borderBottom {
    border-bottom: 1px solid #ececec;
}

.borderTop {
    border-top: 1px solid #ececec;
}
.marbot {
    margin-bottom: .625em;
}
.p06 {
    padding: .6em 0;
}
.pl04 {
    padding-left: 4em;
}
.pr02 {
    padding-right: 2em;
}
.leftStyle {
    padding-right: .625em;
}
.borderLeft {
    border-left: 1px solid #ececec;
    padding-left: 1.25em;
}
.lineHeight {
    line-height: 1.472;
}

.clr_red {
    color: #ff3129;
}

.w3 {
    letter-spacing: .5em;
    margin-right: -.625em;
}
.w2 {
    letter-spacing: 2em;
    margin-right: -2em;
}
.textc {
    text-align: center;
}
.linh2 {
    height: 2em;
    line-height: 2em;
}
.pd625 {
    padding: 0em .625em;
}
#footer {
    box-shadow: 0 -.079em .225em #999;
    margin-top: .169em;
    background: white;
}

#footer .btn {
    margin: 0 .563em;
    min-height: 2.025em;
    padding: .225em 0;
    display: -webkit-box;
}

#btn1 {
    background: #59b5fc;
}
.time {
    background: url(../images/time.png) no-repeat;
    background-size: 2em 2em;
    width: 1.5em;
    height: 2em;
}
.border1 {
    border-bottom: 1px solid #ebebeb;
}